<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  
  <cb:define projectName="CruiseControl.NET"/>
  <cb:define githubUrl="https://github.com/richardTowers/$(projectName).git"/>
  <cb:define ccnetBaseDir="C:\CCNet"/>

  <project name="$(projectName)" description="CI for $(githubUrl)" queue="Q1">
    <state type="state" directory="$(ccnetBaseDir)\State" />
    <artifactDirectory>$(ccnetBaseDir)\BuildArtifacts\$(projectName)</artifactDirectory>
    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists" initialSeconds="5"/>
    </triggers>
    <sourcecontrol type="git">
      <repository>$(githubUrl)</repository>
      <branch>master</branch>
      <autoGetSource>true</autoGetSource>
      <executable>git</executable>
      <timeout>60000</timeout>
      <workingDirectory>$(ccnetBaseDir)\WorkingDirectories\$(projectName)</workingDirectory>
    </sourcecontrol>
    <tasks>
      <nant>
        <executable>$(ccnetBaseDir)\WorkingDirectories\$(projectName)\Tools\NAnt\NAnt.exe</executable>
        <baseDirectory>$(ccnetBaseDir)\WorkingDirectories\$(projectName)</baseDirectory>
        <buildFile>ccnet.build</buildFile>
        <targetList>
          <target>build</target>
          <target>runTests</target>
        </targetList>
      </nant>
    </tasks>
    <publishers>
      <xmllogger />
      <artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="50" />
    </publishers>
  </project>
</cruisecontrol>