<!-- BuildSideBar.vm: Start -->
<li class="sidebar-list">
    <a href="$latestLink.Url">$translations.Translate("Latest") <span class="menu-icon fa fa-angle-double-right"></span></a>
</li>
<li class="sidebar-list">
    <a href="$nextLink.Url">$translations.Translate("Next") <span class="menu-icon fa fa-angle-right"></span></a>
</li>
<li class="sidebar-list">
    <a href="$previousLink.Url">$translations.Translate("Previous")<span class="menu-icon fa fa-angle-left"></span></a>
</li>

#foreach ($link in $links)
<li class="sidebar-list">
    <a href="$link.Url" class="$link.LinkClass">$translations.Translate($link.Text)</a>
</li>
#end

$recentBuildsTable
<!-- BuildSideBar.vm: End -->
