<!-- BuildRows.vm: Start -->
#foreach ($link in $links)
<li class="sidebar-list slim">
    <a href="$link.Url" class="$link.LinkClass">$translations.Translate($link.Text)</a>
</li>
#end
<!-- BuildRows.vm: End -->
