<!-- ProjectSideBar.vm: Start -->
#foreach ($link in $links)
<li class="sidebar-list">
    <a href="$link.Url" class="$link.LinkClass">$translations.Translate($link.Text)</a>
</li>
#end
<li>$recentBuildsTable</li>
<!-- ProjectSideBar.vm: End -->
