<!-- ProjectReport.vm: Start -->

<!-- TODO: refresh button? Or replace with events sent from the server? -->

<div class="row">
    <div class="col-lg-12">
        <h2>$projectName</h2>

        #if ($status.Description.length > 0)
        <p>$status.Description</p>
        #end

        <!-- TODO: Style these: -->
        #if ($rssDataPresent)
        <a href="$rss.url"><span class="fa fa-rss"></span></a>
        #end

        #if ($ohloh != "")
        <span class="ohloh-container">
            <script type="text/javascript" src="http://www.ohloh.net/p/$ohloh/widgets/project_thin_badge.js"></script>
        </span>
        #end
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                $translations.Translate("Project Status")
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>$translations.Translate("Last Build Status")</th>
                            <td>
                                <a href="$mostRecentBuildUrl">
                                    <span class="label label-success">$translations.Translate($status.BuildStatus.ToString())</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>$translations.Translate("Last Build Label")</th>
                            <td>$translations.Translate($status.LastBuildLabel)</td>
                        </tr>
                        <tr>
                            <th>$translations.Translate("CCNet Status")</th>
                            <td>$translations.Translate($status.Status.ToString())</td>
                        </tr>
                        <tr>
                            <th>$translations.Translate("Activity")</th>
                            <td>$translations.Translate($status.Activity.ToString())</td>
                        </tr>
                    </tbody>
                </table>
                #if ($status.BuildStage.Length > 0)
                    <pre><code>$translations.FormatBuildStage($status.BuildStage)</code></pre>
                #end

            </div>
        </div>
    </div>
    #if ($highestAmountPerDay > 0)
    <div class="col-lg-4">
        <div class="widget">
            <div class="widget-header">$translations.Translate("Build Overview")</div>
            
            <div class="widget-body">
                #set($highestViewPerDay= $highestAmountPerDay / $dateMultiPlier)

                <table border="0" align="center" cellspacing="0" cellpadding="2">
                    <tr><th colspan=2></th></tr>
                    <tr><td colspan=2 align=center> $OKPercent% </td></tr>
                    <tr height=5>
                        <td width=$OKPercent bgcolor="#33CC00"> </td>
                        <td width=$NOKPercent bgcolor="#FF0000"> </td>
                    </tr>
                    <tr><td colspan=2> </td></tr>
                </table>
                <table border="2" align="center">
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="2" bgcolor="#eeeedd">
                                #foreach ($dayBuildCounter in [1..$highestViewPerDay])
                                <tr align="center">
                                    <td></td>
                                    #foreach ($currentDayInfo in $graphDayInfo)
                                    #foreach ($multi in [1..$dateMultiPlier])
                                    #set ($cellIndex =  (($highestViewPerDay - $dayBuildCounter) *  $dateMultiPlier) + $multi)
                                    #if ( $cellIndex <= $currentDayInfo.AmountOfBuilds)
                                    #set ($buildIndex =  $cellIndex - 1 )
                                    #if ($currentDayInfo.Build($buildIndex).IsSuccesFull)
                                    #set($color = "#99FF00")
                                    #else
                                    #set($color ="#FF9900")
                                    #end
                                    <td bgcolor="$color"><a href="$currentDayInfo.Build($buildIndex).LinkTobuild" title="$currentDayInfo.Build($buildIndex).Description">$cellIndex</a></td>
                                    #else
                                    <td></td>
                                    #end
                                    #end
                                    <td></td>
                                    #end
                                </tr>
                                #end
                                <tr><td></td></tr>
                                <tr align="center">
                                    <td></td>
                                    #foreach ($currentDayInfo in $graphDayInfo)
                                    <td bgcolor="#99CC66" colspan="$dateMultiPlier">$currentDayInfo.BuildDateFormatted</td>
                                    <td></td>
                                    #end
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    #end
    #if ($AllowForceBuild || $AllowStartStopBuild)
    <div class="col-lg-2">
        <div class="widget">
            <div class="widget-header">
                Controls
            </div>
            <form class="widget-body">
                #if ($AllowForceBuild)
                #if($ForceAbortBuildButtonValue == "Force")
                <input type="button"
                       name="$ForceAbortBuildButtonName"
                       class="btn btn-primary"
                       value="$translations.Translate($ForceAbortBuildButtonValue)"
                       ng-click="checkParameters('$ForceAbortBuildButtonName', '$ForceAbortBuildButtonValue', '$ParametersUrl')" />
                #else
                <input type="submit"
                       name="$ForceAbortBuildButtonName"
                       class="btn btn-danger pull-right"
                       value="$translations.Translate($ForceAbortBuildButtonValue)" />
                #end
                #end
                #if ($AllowStartStopBuild)
                <input type="submit"
                       class="btn btn-warning"
                       name="$StartStopButtonName"
                       value="$translations.Translate($StartStopButtonValue)" />
                #end
            </form>
        </div>
    </div>
    #end
</div>

<!-- TODO: not sure what to do with this yet... -->
<table width="100%">
<tr><td VALIGN="top" width="50%">
		<table id="projectStatus">
	    #if ($StatusMessage.Length > 0)
		  <tr>
			<td colspan="2">
                <div class="ui-widget">
	                <div class="ui-state-highlight ui-corner-all" style="padding: 0pt 0.7em; margin-top: 20px;">
		                <p>
			                <span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
			                $translations.Translate($StatusMessage)
		                </p>
	                </div>
                </div>
			</td>
		  </tr>
		#end
		</table>
	</td>
	<td VALIGN="top" width="50%">
		#if ($externalLinks.Length > 0)
		<table class="ExternalLinks">
		  <tr>
			<th>$translations.Translate("External Links")</th>
		  </tr>
		  #foreach ($externalLink in $externalLinks)
		  <tr bgcolor="Ivory">
			<td align="Left">
			  <a href="$externalLink.Url">$externalLink.Name</a>
			</td>
		  </tr>
		  #end
		</table>
		#end
	</td>
</table>

<p>
  #if ($noLogsAvailable)
  $translations.Translate("There are currently no build logs available for this project - make sure your Build Server configuration is correct and that this Project's build is not throwing any exceptions")
  #else
  #if ($pluginInfo)
  <h3>$translations.Translate("Most Recent Build Results")</h3>
  $pluginInfo

  <a href="$mostRecentBuildUrl">$translations.Translate("Click here for the full build report.")</a>
  #else
  <a href="$mostRecentBuildUrl">$translations.Translate("Click here for the most recent build report.")</a>
  #end
  #end
</p>
<!-- ProjectReport.vm: End -->
