<!-- ProjectGrid.vm: Start -->

<!-- TODO: parameter check. -->

<!-- TODO: refresh button? Or replace with events sent from the server? -->

#if ($forceBuildMessage.Length > 0)
<p id="StatusLabel">
    $translations.Translate($forceBuildMessage)
</p>
#end

<div class="row">
    <div class="col-lg-12">
        #foreach ($exception in $exceptions)
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p><strong>Error</strong> <small>(<strong>$exception.ServerName</strong> $exception.Url)</small></p>
            <p>$exception.Message</p>
        </div>
        #end
    </div>
</div>


#if ($projectGrid.Length > 0)

<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header input-group">
                <i class="fa fa-tasks"></i> Projects
                <label for="projectGridSearch" class="sr-only">Search projects</label>
                <input name="projectGridSearch" type="search" placeholder="Search" class="form-control pull-right">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <div class="widget-body no-padding">
                <div class="table-responsive">
                    <!-- TODO: make this table sortable / searchable: -->
                    <table class="table">
                        <thead>
                            <tr class="ProjectGridHeader">
                                <th>$translations.Translate("Last Build Status")</th>
                                <th>$translations.Translate("Project Name")</th>
                                <th>$translations.Translate("Last Build Time")</th>
                                <th>$translations.Translate("Next Build Time")</th>
                                <th>$translations.Translate("Last Build Label")</th>
                                <th>$translations.Translate("CCNet Status")</th>
                                <th>$translations.Translate("Activity")</th>
                                <th>$translations.Translate("Messages")</th>
                                #if ($wholeFarm)
                                <th>$translations.Translate("Server")</th>
                                #end
                                <th>$translations.Translate("Admin")</th>
                            </tr>
                        </thead>
                        <tbody>

                            #foreach ($projectGridRow in $projectGrid)

                            <tr id="projectData$RowId">
                                <td><span class="label label-$projectGridRow.BuildStatusClass">$translations.Translate($projectGridRow.BuildStatus)</span></td>
                                <td>
                                    <a href="$projectGridRow.Url" title="$projectGridRow.Description">$projectGridRow.Name</a>
                                </td>
                                <td><a href="server/$projectGridRow.ServerName/project/$projectGridRow.Name/ViewLatestBuildReport.aspx">$projectGridRow.LastBuildDate</a></td>
                                <td>$translations.Translate($projectGridRow.NextBuildTime)</td>
                                <td>$translations.Translate($projectGridRow.LastBuildLabel)</td>
                                <td class="status$projectGridRow.Status">$translations.Translate($projectGridRow.Status)</td>
                                <td class="activity$projectGridRow.Activity">$translations.Translate($projectGridRow.Activity.ToString())</td>
                                <td class="left">
                                    <ul>
                                        #if ($projectGridRow.Breakers.Length > 0)
                                        <li>$translations.Translate("Breakers : {0}", $projectGridRow.Breakers)</li>
                                        #end
                                        #if ($projectGridRow.Fixer.Length > 0)
                                        <li>$projectGridRow.Fixer</li>
                                        #end
                                        #if ($projectGridRow.FailingTasks.Length > 0)
                                        <li>$translations.Translate("Failing Tasks : {0}", $projectGridRow.FailingTasks)</li>
                                        #end
                                    </ul>
                                </td>
                                #if ($wholeFarm)
                                <td>$projectGridRow.ServerName</td>
                                #end
                                <td>
                                    #if ($projectGridRow.allowForceBuild)
                                    #if($projectGridRow.ForceAbortBuildButtonValue == "Force")
                                    <button class="btn btn-primary btn-xs">$translations.Translate($projectGridRow.ForceAbortBuildButtonValue)</button>
                                    #else
                                    <button class="btn btn-danger btn-xs">$translations.Translate($projectGridRow.ForceAbortBuildButtonValue)</button>
                                    #end
                                    #end
                                    #if ($projectGridRow.AllowStartStopBuild)
                                    <button class="btn btn-warning btn-xs">$translations.Translate($projectGridRow.StartStopButtonValue)</button>
                                    #end
                                </td>
                            </tr>
                            #if ($projectGridRow.BuildStage.Length > 0)
                            <tr id="link$RowId" class="buildStatus">
                                #if ($wholeFarm)
                                <td colspan="10">$translations.FormatBuildStage($projectGridRow.BuildStage)</td>
                                #else
                                <td colspan="9">$translations.FormatBuildStage($projectGridRow.BuildStage)</td>
                                #end
                            </tr>
                            #end
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
#end
<!-- ProjectGrid.vm: End -->
