<!-- ProjectParameters.vm: Start -->
<form class="form-horizontal" role="form" method="post" action="#">
  <input type="hidden" name="projectName" value="$projectName" />
  <input type="hidden" name="serverName" value="$serverName" />
  <input type="hidden" name="ForceBuild" value="Force" />
  #foreach ($parameter in $parameters)
  <div class="form-group">
    <label for="param_$parameter.Name" class="col-sm-2 control-label">$parameter.DisplayName</label>
    <div class="col-sm-10">
      #if ($parameter.AllowedValues.Length > 0)
      <select class="form-control" name="param_$parameter.Name">
        #foreach ($value in $parameter.AllowedValues)
        #if ($parameter.ClientDefaultValue == $value)
        <option value="$value" selected="">$value</option>
        #else
        <option value="$value">$value</option>
        #end
        #end
      </select>
      #else
      #if ($parameter.ClientDefaultValue.Length > 0)
      <input type="text" class="form-control" name="param_$parameter.Name" value="$parameter.ClientDefaultValue"/>
      #else
      <input type="text" class="form-control" name="param_$parameter.Name"/>
      #end
      #end
    </div>
  </div>
  #end
  <div class="modal-footer">
    <input type="button" class="btn" value="$translations.Translate("Cancel")" ng-click="closeModal()"/>
    <input type="submit" class="btn btn-primary" value="$translations.Translate("Build")"/>
  </div>
</form>
<!-- ProjectParameters.vm: End -->
