<!-- RecentBuilds.vm: Start -->
<li class="sidebar-title separator">
    $translations.Translate("Recent Builds")
</li>
    $buildRows
<li class="sidebar-list">
    <a href="$allBuildsLink.Url">$translations.Translate("Show All")</a>
</li>
<!-- RecentBuilds.vm: End -->
